# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\个人资料\4.20ZF20\4.20ZF20\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
